body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: darkgreen;

}
.colapso{
    margin-top: 18%;
    height: 40px;
    width: 40%;
    cursor: pointer;
    transition: 0.5s;
    outline: none;

}
.colapso:hover{
    background-color: rgb(24, 20, 255);
}

.content{
    display: none;
    text-align:center;
    background-color: aquamarine;
    height: 80px;
    width: 40%;
    border: none;


  

    
}
